/Exercicio03Bhaskara.class
/ExercicioAreaLivreTerrenoRetangular.class
/ExercicioAreaTriangulo.class
/ExercicioDistanciaPontos.class
/ExercicioExisteTriangulo.class
/ExercicioIdade.class
/ExercicioMoeda.class
/ExercicioMotorista.class
/ExercicioRepete.class
/ExercicioSorteio.class
/ExercicioSupermercado.class
/ExercicioImprimeIntervalo.class
/ExercicioParouImpar.class
/ExercicioSoma.class
